* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

@font-face {
  font-family: 'UntitledSans-Light';
  src: url("../fonts/untitled_sans_light-webfont.woff") format("woff"),
       url("../fonts/untitled_sans_light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AshburyW01';
  src: url('../fonts/ashburyw01-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/ashburyw01-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'RF Dewi';
  src: url('../fonts/rfdewi-light-webfont.woff2') format('woff2'),
       url('../fonts/rfdewi-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}



body {
 margin: 0;
 background-color: transparent;
 color: rgb(0, 0, 0)
}

h1,h2,h3,h4,h5,h6 {
 margin: 0%;
}
p {
 margin: 0,0,10px;
}



/* Container
======================*/
.container {
 width: 100%;
 margin: 0 auto;
}

/* Header
======================*/

.header {
 top: 0;
 left: 0;
 z-index: 1000;

}

.header_inner {
 display: flex; 
 justify-content: space-between; 
 align-items: center; 
}

.header_logo {
 max-width: 200px; /* Adjust the width as needed */
 margin: 20; /* Centering the logo horizontally */
 font-size: 25px;
 font-family: 'AshburyW01';
 word-spacing: 5px;
}



/* Nav
======================*/

.nav-bar {

 font-size: 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style: none;
 position: relative;
 padding: 15px 20px;
}

.logo {
 max-width: 200px; /* Adjust the width as needed */
 font-size: 22px;
 font-family: 'AshburyW01';
 word-spacing: 5px;
 list-style: none; /* Убираем точку раздела */
}

.logo a {
 text-decoration: none; /* Убираем подчеркивание ссылки */
 color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.menu {
 display: flex;
 list-style: none; /* Убираем точки разделителей */
}

.menu li a {
 display: inline-block;
 text-decoration: none;
 text-align: center;
 transition: 0.15s ease-in-out;
 position: relative;
 text-transform: none; /* Убираем преобразование текста в заглавные буквы */
 
 margin-left: 50px;
 color: rgb(0, 0, 0);
 text-decoration: none;
  font-family: 'UntitledSans-Light';
 transition: opacity 0.3s linear; /* Установка плавного перехода для прозрачности */
 padding-top: 5px;
}




.header-nav .site-menu ul li a:after {
 content: ',';
 color: #000
}

.header-nav .site-menu ul li:last-child a:after {
 display: none
}

.header-nav .site-menu ul li a:hover,.header-nav .site-menu ul .current-menu-item a,.header-nav .site-menu ul .current-page-parent a,.header-nav .site-menu ul li.menu-active a,.header-nav .site-menu ul .current-page-ancestor a {
 background-color: transparent;
 color: #999
}

.header-variable .container {
 display: flex;
 justify-content: space-between
}

.header-variable .variable {
 padding: 20px 0
}







header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
  z-index: 100;
  border-bottom: 0; /* Изначально скрываем контур */
  transition: border-bottom 0.3s ease; /* Добавляем анимацию перехода */
}

/* Добавляем стиль для показа контура после прокрутки на 420px */
header.scrolled {
  border-bottom: 1px solid #000000;
}

.logo {
  display: flex;
}

nav {
  display: flex;
  
}

nav a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: none; /* Убираем преобразование текста в заглавные буквы */
  
  margin-left: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'UntitledSans-Light';
  transition: opacity 0.3s linear; /* Установка плавного перехода для прозрачности */

  margin-left: 50px;
  font-size: 19px;

  
}
nav a:hover {
  color: #999
}

input {
  display: none;
}
@media (max-width: 768px) {
  nav {
      position: absolute;
      top: 60px;
      background: white;
      left: 0;
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 0;
      font-size: 37px;
      transition: 0.5s;
      overflow: hidden;
  }

  nav a:nth-child(1) {
      margin-top: 200px;
  }

  nav a {
      text-transform: capitalize; /* Первая буква каждого слова в заглавной */
      opacity: 0; /* Сначала устанавливаем нулевую прозрачность */
      transition: opacity 0.9s ease-in-out; /* Добавляем переход для прозрачности */
      font-family: 'UntitledSans-Light';
      font-size: 30px;
      margin-left: 0px;
      margin-top: 15px;
  }

  input:checked + header nav a {
      opacity: 1; /* Постепенно увеличиваем прозрачность при открытии */
      transition-delay: 0.2s; /* Задержка в 1 секунду для появления текста */
  }

  input:checked + header .logo {
      visibility: hidden;
  }

  /* Скрываем контур при открытом меню */
  input:checked + header.scrolled:not(.menu-open) {
      border-bottom: none;
  }


  label {
      width: 25px;
      height: 15px;
      position: relative;
  }
  label div {
      width: 100%;
      height: 2px;
      background: #000000;
      position: absolute;
      transform: translateY(-50%);
      border-radius: 99px;
      transition: 0.3s;
      transform: scale(1);
  }
  label div:nth-child(1) {
      top: 0;
  }
  label div:nth-child(2) {
      top: 50%;
  }
  label div:nth-child(3) {
      top: 100%;
  }

  input:checked + header nav {
      height: 100vh;
  }
  input:checked + header label div:nth-child(1) {
      transform: rotate(45deg);
      top: 50%;
  }
  input:checked + header label div:nth-child(3) {
      transform: rotate(-45deg);
      top: 50%;
  }
  input:checked + header label div:nth-child(2) {
      transform: scale(0);
      opacity: 0;
  }
}



#header {
  position: fixed;
  top: -100px; /* Здесь мы задаем изначальное положение за пределами видимой области */
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  transition: top 0.2s; /* Добавляем плавную анимацию при изменении свойства top */
}



/* Intro
======================*/

.intro {
 flex-direction: column;
 justify-content: center;
 padding-top: 100px;
 color: #6c7279;
}

.intro_inner {
 width: 100%;
 max-width: 800px;
 margin: 0 auto;
 position: relative; /* Для позиционирования дочерних элементов относительно этого блока */
 text-align: center; /* Центрирование содержимого по горизонтали */
 margin-top: 100px;
}

.intro_title {
 margin: 0%;
 font-size: 30px;
 color: rgb(0, 0, 0);
 text-align: center;
 font-family: 'RF Dewi';
 line-height: 1.5;
 word-spacing: 5px;
 font-weight: 300;
 padding-top: 20px;
}

.intro_inner img {
 max-width:300px; /* Устанавливаем максимальную ширину изображения на 100% ширины родительского контейнера */
 height: auto; /* Автоматически подстраиваем высоту изображения для сохранения пропорций */
 display: block; /* Убираем пробелы под изображением */
 margin: 0 auto; /* Центрируем изображение по горизонтали */
 position: absolute; /* Абсолютное позиционирование */
 top: 50%; /* Размещаем верхнюю часть изображения на середине блока */
 left: 50%; /* Размещаем левую часть изображения на середине блока */
 transform: translate(-50%, -50%); /* Перемещаем изображение обратно на половину его собственной ширины и высоты */
 padding-bottom: 200px;
}




/* Добавляем стили для мобильной версии */
@media screen and (max-width: 600px) {
 .header_inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .intro_title {
     font-size: 30px; /* Уменьшаем размер шрифта */
     padding: 0 60px; /* Добавляем отступы по бокам */
 }

 .nav {
     display: none;
 }

 .toggle_button {
     display: block;
 }
} 

.different-font {
 font-family: 'AshburyW01';
 font-size: 34px;
}



    /* Gallery
 ======================*/

.full-width-image {
    width: 100%; /* Занимает всю ширину */
    margin: 15px 0; /* Отступы сверху и снизу */
    font-family: 'RF Dewi';
    font-weight: 300;
}

.full-width-image .image img {
    width: 100%; /* Изображение адаптируется под ширину контейнера */
    height: auto; /* Сохраняет пропорции */
}

.column {
  flex: 1;
}

.image {
  position: relative;
  margin-bottom: 70px;
}

.image img {
  width: 100%;
  height: auto;
}

.image a {
  text-decoration: none;
}


/* Set opacity of the text to 1 on hover */
.image:hover .inner {
  opacity: 1; /* Change opacity on hover */
}

/* Set initial opacity of h3 to 0 */
.inner h3 {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.3s ease; /* Add opacity transition */
  font-weight: 300;
  font-size: 13px;
  padding-top: 10px;
}

/* Set opacity of h3 to 1 on hover */
.image:hover .inner h3 {
  opacity: 1; /* Change opacity on hover */
}



/* Set initial opacity of the text to 0 */
.image-container .inner {
  margin-bottom: 120px;
  color: black;
  font-size: 11px;
  font-family: 'RF Dewi';
  list-style: none;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.3s ease; /* Add opacity transition */
}

/* Set opacity of the text to 1 when hovering over the image */
.image-container:hover .inner {
  opacity: 1; /* Change opacity on hover */
}

.gallery {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: space-between;
  /* padding-top: 120px; */
  margin-left: 15px; /* Отступ слева */
  margin-right: 15px; /* Отступ справа */
}

.image-container {
  width: calc(33.333% - 8px); /* Уменьшаем ширину каждого контейнера и уменьшаем отступы */
}

  /* Медиа-запрос для маленьких экранов, например, телефонов */
  @media screen and (max-width: 600px) {
    .image {
        columns: 1; /* Одна колонка на мобильных устройствах */
        margin-bottom: -100px;
    }

       .full-width-image {
        width: 100%; /* Полная ширина для мобильных устройств */
        margin: 10px 0; /* Уменьшенные отступы */
    }

    .full-width-image .image img {
        width: 100%; /* Изображение полностью адаптируется */
        height: auto; /* Пропорции остаются */
        padding-bottom: 60px;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between;
    margin: 15px;
  }

  .image-container {
    width: calc(33.333% - 8px); /* Уменьшаем ширину каждого контейнера и уменьшаем отступы */
  }
  

  /* Медиа-запрос для маленьких экранов, например, телефонов */
@media screen and (max-width: 600px) {
    .image-container {
        width: 100%; /* Контейнеры занимают всю ширину на маленьких экранах */
        margin-bottom: 0; /* Убираем отступы между элементами */
    }
    .gallery {
        justify-content: flex-start; /* Выравниваем элементы в начале строки */
    }

}





/* Overlay Styles */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.expanded-image {
  max-width: 80%;
  max-height: 80%;
}

/* Adjustments for mobile devices */
@media screen and (max-width: 600px) {
  .expanded-image {
      max-width: 90%;
      max-height: 90%;
  }
}





 
  /* Footer
======================*/

footer{
   position: relative;
   width: 100%;
   padding-top: 100px;
   padding-bottom: 50px;
   padding-left: 15px; /* Отступ слева */
   padding-right: 15px; /* Отступ справа */
}


.container footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.row{
  display: flex;
  justify-content: space-between;
}

.col{
  min-width: 170px;
  color:#000000;
  font-family: 'UntitledSans-Light';


  
}

.col h3{
  margin-bottom: 15px;
  margin-top: 50px;
  position: relative;
  font-family: 'AshburyW01';
  font-size: 34px;
  font-weight: 300;
}



.col .links a{
  display: block;
  text-decoration: none;
  color:#000000;
  margin-bottom: 5px;
  position: relative;
  font-family: 'UntitledSans-Light';
  font-size: 19px;
  font-weight: 300;
  
}

.col .links h4{
   display: block;
   text-decoration: none;
   color:#000000;
   margin-bottom: 5px;
   position: relative;
   font-family: 'UntitledSans-Light';
   font-size: 19px;
   font-weight: 300;
}

.col .links a::before{
  content:'';
  height: 16px;
  width:3px;
  position: absolute;
  top:5px;
  left:-10px;
  opacity: 0;
  font-family: 'AshburyW01';

}

@media (max-width: 768px) { /* Применять стили только для экранов шириной 768px и менее */
   .row {
     flex-direction: column; /* Расположение столбцов в колонку */
   }
 
   .col {
     min-width: auto; /* Устанавливаем минимальную ширину обратно на авто */
     width: 100%; /* Ширина столбцов 100% */
     margin-bottom: 40px; /* Добавляем отступ между столбцами */
     padding-left: 20px;
     display: contents;
   }
 }


 .col .links a {
   user-select: all; /* Allow text selection */
}




 .col .links a:hover {
   color: #888; /* Change the color to your desired color */
   user-select: auto; /* Reset text selection when hovered */
}


  /* Animations
======================*/


/* Скрыть блоки до начала анимации */
.header_inner,
.intro_inner,
.gallery,
.footer {
    opacity: 0;
    transform: translateY(100px);
}

/* Анимация для появления блоков */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Применение анимации с задержкой для каждого блока */
.header_inner {
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.2s;
}

.intro_inner {
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.4s;
}

.gallery {
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.6s;
}

.footer {
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.8s;
}
